*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  background-color: #222;
  color: #ddd;
  font-family: 'Poppins';
  font-size: 16px;
}

.container {
  background-color: #ddd;
  height: 30vh;
  width: 100%;

  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
}

.item {
  border: medium solid #999;
  /* width: 20%; */
  /* height: 20%; */
  /* width: 100px; */
  background-color: #666;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.item:nth-child(2) {
  /* flex-grow: 0; */
  flex-shrink: 2;
}

.item:nth-child(3) {
  /* flex-grow: 0; */
}
